<div class="flex flex-col lg:flex-row">
  <div class="{{ picture ? 'lg:flex-1/3' : 'hidden' }}">
    {% if link.url %}
      {% embed '../utilities/linkify.twig' with { url: link.url } %}
        {% block component %}{{ picture }}{% endblock %}
      {% endembed %}
    {% else %}
      {{ picture }}
    {% endif %}
  </div>
  <div class="{{ picture ? 'lg:flex-2/3' }}">
    <div class="space-y-2 lg:mb-10 py-10 lg:py-0 lg:pl-7">
      {% if date %}
        <div class="text-gray-dark text-sm">{% spaceless %}      
          <span>{{ date }}</span>
          {% if time %}
            <span class="before:content-pipe before:mx-2.5 before:text-base">{{ time }}</span>
          {% endif %}
        {% endspaceless %}</div>
      {% endif %}
      <div>
        {% include '../fancy-link/fancy-link.twig' with { link: link, large: true } only %}
      </div>
      {% if intro %}
        <p class="text-sm leading-relaxed">{{ intro }}</p>
      {% endif %}

      {% if location %}
        <div class="text-sm leading-relaxed italic">{{ location }}</div>
      {% endif %}
    </div>
  </div>
</div>