<div class="text-sm lg:pl-5 xl:pl-0 lg:pr-2 flex-1/4">
  <div class="mb-6">
    {{ content.field_contact_intro|children }}
  </div>
  <div class="leading-relaxed">
    <span class="phone-link flex flex-row flex-no-wrap items-center">
      <svg class="mr-2" width="20px" height="21px" viewBox="0 0 12 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Phone Icon</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-356.000000, -5743.000000)" fill="#101820" fill-rule="nonzero">
                <g transform="translate(0.000000, 5586.000000)">
                    <g transform="translate(352.000000, 100.000000)">
                        <path d="M14.4699399,57 C15.2874421,57 15.9527129,57.6744469 15.9527129,58.503225 L15.9527129,75.539775 C15.9527129,76.368553 15.2874421,77.043 14.4699399,77.043 L5.57330219,77.043 C4.75580003,77.043 4.09052923,76.368553 4.09052923,75.539775 L4.09052923,58.503225 C4.09052923,57.6744469 4.75580003,57 5.57330219,57 L14.4699399,57 Z M14.4699399,58.00215 L5.57330219,58.00215 C5.30047196,58.00215 5.07904453,58.2266316 5.07904453,58.503225 L5.07904453,75.539775 C5.07904453,75.8163684 5.30047196,76.04085 5.57330219,76.04085 L14.4699399,76.04085 C14.7427702,76.04085 14.9641976,75.8163684 14.9641976,75.539775 L14.9641976,58.503225 C14.9641976,58.2266316 14.7427702,58.00215 14.4699399,58.00215 Z M10.5329221,74.1797143 C10.8151602,74.1797143 11.0442231,74.3629646 11.0442231,74.5887551 C11.0442231,74.8145456 10.8151602,74.9977959 10.5329221,74.9977959 L9.51032004,74.9977959 C9.22808188,74.9977959 8.99901902,74.8145456 8.99901902,74.5887551 C8.99901902,74.3629646 9.22808188,74.1797143 9.51032004,74.1797143 L10.5329221,74.1797143 Z M13.3962078,59.0452041 C13.678446,59.0452041 13.9075088,59.2677223 13.9075088,59.5418965 L13.9075088,72.4558994 C13.9075088,72.7300736 13.678446,72.9525918 13.3962078,72.9525918 L6.23799351,72.9525918 C5.95575535,72.9525918 5.72669249,72.7300736 5.72669249,72.4558994 L5.72669249,59.5418965 C5.72669249,59.2677223 5.95575535,59.0452041 6.23799351,59.0452041 L13.3962078,59.0452041 Z M12.8849068,60.0385889 L6.74929453,60.0385889 L6.74929453,71.959207 L12.8849068,71.959207 L12.8849068,60.0385889 Z" id="icon_phone"></path>
                    </g>
                </g>
            </g>
        </g>
      </svg>
      <span class="sr-only">Phone:</span>
      {% set phone_link = fractal_link(content.field_telephone)|children|first %}
      <a href="{{ phone_link.url }}" class="underline hover:decoration-transparent">{{ phone_link.title }}</a>
    </span>
    <br>
    <span class="email-link flex flex-row flex-no-wrap items-center">
      <svg class="mr-2" width="20px" height="13px" viewbox="0 0 20 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Email Icon</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-352.000000, -5782.000000)" fill="#101820" fill-rule="nonzero">
            <g transform="translate(0.000000, 5586.000000)">
              <g transform="translate(352.000000, 100.000000)">
                <path d="M18.2425406,96.141171 L1.56364633,96.141171 C0.701555988,96.141171 -4.74287276e-13,96.8414561 -4.74287276e-13,97.7019846 L-4.74287276e-13,107.066866 C-4.74287276e-13,107.927395 0.701555988,108.62768 1.56364633,108.62768 L18.2425406,108.62768 C19.1046309,108.62768 19.8061869,107.927395 19.8061869,107.066866 L19.8061869,97.7019846 C19.8061869,96.8414561 19.1046309,96.141171 18.2425406,96.141171 Z M18.2425406,97.1817134 C18.2738135,97.1817134 18.3030016,97.1848351 18.333232,97.1900378 L10.4816426,102.414601 C10.1793376,102.615426 9.62789169,102.615426 9.32558674,102.414601 L1.47399728,97.1900378 C1.50318534,97.1848351 1.53341584,97.1817134 1.56468876,97.1817134 L18.243583,97.1817134 L18.2425406,97.1817134 Z M18.2425406,107.587138 L1.56364633,107.587138 C1.27593541,107.587138 1.04243089,107.354056 1.04243089,107.066866 L1.04243089,98.1535801 L8.74703759,103.280333 C9.0712336,103.495725 9.48716352,103.603941 9.90309345,103.603941 C10.3190234,103.603941 10.7349533,103.495725 11.0591493,103.280333 L18.763756,98.1535801 L18.763756,107.066866 C18.763756,107.354056 18.5302515,107.587138 18.2425406,107.587138 Z" id="icon_mail"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <span class="sr-only">Email:</span>
      {% set email_link = fractal_link(content.field_email)|children|first %}
      <a href="{{ email_link.url }}" class="underline hover:decoration-transparent">{{ email_link.title }}</a>
    </span>
  </div>
</div>