{% extends "./page.twig" %}

{% block content %}
  <div class="container space-y-7 md:space-y-12">
    {{ featured_teaser_1 }}
    {{ featured_teaser_2 }}
    {{ teaser_grid }}
    {{ fancy_feature }}
    {{ event_teasers }}
    {{ simple_feature }}
  </div>
{% endblock %}