{# Set alert_id to 'alert' so the close method defined in alert.js works #}
<section id="{{ alert_id }}" class="container hidden mb-10">
  <div class="flex flex-col items-center bg-yellow p-10 space-y-2">
    <div class="prose font-bold {{ site_wide ? 'text-center' }}">{{ headline }}</div>
    <div class="prose {{ site_wide ? 'text-center' }}">{{ wysiwyg }}</div>
    {% if closeable %}
      <button id="close_alert" class="self-end flex flex-row flex-no-wrap items-center">
        <svg width="10px" height="11px" viewBox="0 0 10 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Close Alert Button</title>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-1313.000000, -92.000000)" fill="#101820">
                  <g transform="translate(1313.000000, 88.000000)">
                      <path d="M8.84090453,5.01688883 C9.10606365,4.7517297 9.53597153,4.7517297 9.80113066,5.01688883 C10.0662898,5.28204795 10.0662898,5.71195583 9.80113066,5.97711496 L9.80113066,5.97711496 L5.961,9.81801948 L9.80113066,13.658924 C10.0662898,13.9240831 10.0662898,14.353991 9.80113066,14.6191501 C9.53597153,14.8843093 9.10606365,14.8843093 8.84090453,14.6191501 L5,10.7790195 L1.15909547,14.6191501 C0.920452263,14.8577934 0.548362557,14.8816577 0.283030046,14.6907431 L0.198869343,14.6191501 C-0.0662897811,14.353991 -0.0662897811,13.9240831 0.198869343,13.658924 L0.198869343,13.658924 L4.039,9.81801948 L0.198869343,5.97711496 C-0.0662897811,5.71195583 -0.0662897811,5.28204795 0.198869343,5.01688883 C0.464028468,4.7517297 0.89393635,4.7517297 1.15909547,5.01688883 L5,8.85701948 Z" id="Combined-Shape"></path>
                  </g>
              </g>
          </g>
        </svg>
        <span class="ml-2">Close</span>
      </button>
    {% endif %}
  </div>
</section>